html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    font-size: 2rem;
    font-family: 'Lato';
    background: #333;
}
.blockyLink {
    display: block;
    text-decoration: none;
    color: inherit;
}
.noLink {
    text-decoration: none;
    color: inherit;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.width50 {
  width: 50%;
}
.progression {
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
}
.progression-1 .progression-title {
    background-color: #aaeeee;
}
.progression-2 .progression-title {
    background-color: #eeaaaa;
}
.progression-3 .progression-title {
    background-color: #eeeeaa;
}
.progression-4 .progression-title {
    background-color: #aaaaee;
}
.progression-5 .progression-title {
    background-color: #aaeeee;
}
.progression-6 .progression-title {
    background-color: #aacccc;
}
.progression-7 .progression-title {
    background-color: #aaccaa;
}
.progression-8 .progression-title {
    background-color: #ccaacc;
}
.progression-9 .progression-title {
    background-color: #eeaaee;
}
.progression-10 .progression-title {
    background-color: #eeaaaa;
}
.progression-11 .progression-title {
    background-color: #aaaaaa;
}
.progression-12 .progression-title {
    background-color: #aaaaee;
}
.progression-13 .progression-title {
    background-color: #aaaacc;
}
.progression-14 .progression-title {
    background-color: #eeaaaa;
}
.progression-15 .progression-title {
    background-color: #ccaaaa;
}
.progression-16 .progression-title {
    background-color: #aaeeaa;
}
.progression-17 .progression-title {
    background-color: #aaccaa;
}
.progression-18 .progression-title {
    background-color: #ccccaa;
}
.progression-19 .progression-title {
    background-color: #eeeeaa;
}
.progression-title {
    padding: 1rem;
}
.progression-intervals {
    width: 100%;
    font-size: 1.5rem;
    border-spacing: 0.5em 0.2em;
    margin-top: 0.5em;
}
.interval-length {
    padding: 0.5em;
    background: #222;
    color: #fff;
}
.interval-note {
    padding: 0.5em;
    background: #222;
    color: #fff;
    font-weight: 600;
}
.interval-name {
    padding: 0.5em;
    background: #fff;
}
.notes-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.note-box {
    display: block;
    padding: 0.2em;
    min-width: 1.5em;
    height: 1.4em;
    background: #222;
    margin: 0.4em;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.note-0 {
    border: 2px solid #fff123;
    color: #fff123;
}
.note-1 {
    border: 2px solid #ffa923;
    color: #ffa923;
}
.note-2 {
    border: 2px solid #ff4c30;
    color: #ff4c30;
}
.note-3 {
    border: 2px solid #ff2624;
    color: #ff2624;
}
.note-4 {
    border: 2px solid #ff47ca;
    color: #ff47ca;
}
.note-5 {
    border: 2px solid #9861ff;
    color: #9861ff;
}
.note-6 {
    border: 2px solid #4c69ff;
    color: #4c69ff;
}
.note-7 {
    border: 2px solid #4eb9ff;
    color: #4eb9ff;
}
.note-8 {
    border: 2px solid #5cffea;
    color: #5cffea;
}
.note-9 {
    border: 2px solid #45ff84;
    color: #45ff84;
}
.note-10 {
    border: 2px solid #a8ff51;
    color: #a8ff51;
}
.note-11 {
    border: 2px solid #ecff48;
    color: #ecff48;
}
.notes-explain {
    display: block;
    color: white;
    margin: 0.5em 0;
}
.homebar {
    text-align: left;
    padding: 1em;
    background: #111;
    font-weight: bold;
}
.homebar a {
    color: #fff;
}
.KeyboardLayout {
    margin: 0.3em auto 0 auto;
    padding: 0 0.2em 0.2em 0.2em;
    height: 6.5em;
    display: flex;
    background: #555;
    border-radius: 0 0 0.2em 0.2em;
    border-top: 3px solid goldenrod;
}
@media (max-width: 35em) {
    .KeyboardLayout {
        font-size: 0.7em;
    }
}
@media (max-width: 24em) {
    .KeyboardLayout {
        font-size: 0.6em;
    }
}
.KeyboardLayout-key {
    background: #fff;
    width: 2em;
    margin: 0.1em;
}
.KeyboardLayout-key, .KeyboardLayout-key-internal {
    border-radius: 0 0 0.2em 0.2em;
    box-shadow: 2px 0px 1px #222;
    box-sizing: border-box;
}
.key-sharp {
    width: 0;
    margin: 0;
    position: relative;
}
.key-sharp .KeyboardLayout-key-internal {
    position: absolute;
    width: 1.5em;
    background: #111;
    height: 4em;
    left: -0.75em;
}
.key-active, .key-active.key-sharp .KeyboardLayout-key-internal {
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
}
.is-playing, .is-playing.key-sharp .KeyboardLayout-key-internal {
    border-bottom-width: 2em;
}
.key-active.key-sharp, .key.is-playing.key-sharp {
    border: none;
}
.is-hidden {
    display: none;
}
.key-0 {
    border-color: #fff123;
}
.key-1, .key-1 .KeyboardLayout-key-internal {
    border-color: #ffa923;
}
.key-2, .key-2 .KeyboardLayout-key-internal {
    border-color: #ff4c30;
}
.key-3, .key-3 .KeyboardLayout-key-internal {
    border-color: #ff2624;
}
.key-4, .key-4 .KeyboardLayout-key-internal {
    border-color: #ff47ca;
}
.key-5, .key-5 .KeyboardLayout-key-internal {
    border-color: #9861ff;
}
.key-6, .key-6 .KeyboardLayout-key-internal {
    border-color: #4c69ff;
}
.key-7, .key-7 .KeyboardLayout-key-internal {
    border-color: #4eb9ff;
}
.key-8, .key-8 .KeyboardLayout-key-internal {
    border-color: #5cffea;
}
.key-9, .key-9 .KeyboardLayout-key-internal {
    border-color: #45ff84;
}
.key-10, .key-10 .KeyboardLayout-key-internal {
    border-color: #a8ff51;
}
.key-11, .key-11 .KeyboardLayout-key-internal {
    border-color: #ecff48;
}
.ProgressionControls {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    text-align: center;
}
.loadingNotify {
    color: white;
    margin: 0.4em auto;
    font-size: 0.5em;
}
.playButton {
    padding: 0.5em 1em;
    background: #000;
    border: 2px solid #ccc;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Lato';
    margin: 1em auto;
}
.related-items {
    margin: 1.5em 0;
}
.related-explain {
    color: #fff;
}
.ChordPreview {
    position: absolute;
    font-size: 0.5em;
    left: 50%;
    bottom: 120%;
    transform: translateX(-50%);
    background: #111;
    border: 1px solid #fff;
    padding: 1em;
    display: none;
}
.note-box:hover .ChordPreview {
    display: block;
}
.ChordPreview-notes {
    display: flex;
    flex-direction: column;
}
#interval_section, #chord_section {
    display: flex;
    padding: 0.2em 0;
    justify-content: center;
}
.progression-builder select {
    font-size: 0.7em;
    margin: auto 0.5em;
    flex-basis: 3em;
    flex-grow: 0;
    flex-shrink: 1;
}
.progression-builder button {
    margin: auto 0.5em;
}
#builder_controls button {
    padding: 0.5em 1em;
    background: #000;
    border: 2px solid #ccc;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Lato';
    margin: 1em 0.5em;
}
